<p id="notice"><%= notice %></p>

<p>
  <strong>Entry date:</strong>
  <%= @stock.entry_date %>
</p>

<p>
  <strong>Place:</strong>
  <%= @stock.place %>
</p>

<p>
  <strong>Stock operation:</strong>
  <%= @stock.stock_operation %>
</p>

<p>
  <strong>Refund:</strong>
  <%= @stock.refund %>
</p>

<p>
  <strong>Items price:</strong>
  <%= @stock.items_price %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @stock.total_price %>
</p>

<p>
  <strong>Template:</strong>
  <%= @stock.is_stock_template %>
</p>

<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %> |
<%= link_to 'Items', stock_stock_items_path(@stock) %>
