<%= form_for(@metric_unit) do |f| %>
  <% if @metric_unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@metric_unit.errors.count, "error") %> prohibited this metric_unit from being saved:</h2>

      <ul>
      <% @metric_unit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
