<%= form_for([@stock, @stock_item]) do |f| %>
  <% if @stock_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stock_item.errors.count, "error") %> prohibited this stock_item from being saved:</h2>

      <ul>
      <% @stock_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product %><br />
    <%= f.select :product_id, options_for_select(Product.all.map{|s|[s.name, s.id]},@stock_item.product_id) %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :item_prize %><br>
    <%= f.text_field :item_prize %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
