<p id="notice"><%= notice %></p>

<h1>Listing Stock Items</h1>

<div align="center">
  <%= link_to 'New Stock item', new_stock_stock_item_path(@stock) %>
</div>
<br>

<table>
  <thead>
    <tr>
      <th>Stock</th>
      <th>Product</th>
      <th>Unit prize</th>
      <th>Amount</th>
      <th>Item prize</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stock_items.each do |stock_item| %>
      <tr>
        <td><%= stock_item.stock %></td>
        <td><%= stock_item.product %></td>
        <td><%= stock_item.unit_prize %></td>
        <td><%= stock_item.amount %></td>
        <td><%= stock_item.item_prize %></td>
        <td><%= link_to 'Show', [@stock, stock_item] %></td>
        <td><%= link_to 'Edit', edit_stock_stock_item_path(@stock,stock_item) %></td>
        <td><%= link_to 'Destroy', [@stock, stock_item], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


